.quote-text {
  font-family: var(--font-geist-mono);
  font-weight: 200;
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .quote-text {
    font-size: 1.5rem;
  }
}
